.content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: row;
  justify-content: row;
  font-size: calc(10px + 2vmin);
  color: rgb(3, 3, 3);
}


