.div {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: row;
  justify-content: row;
  font-size: calc(10px + 2vmin);
  color: rgb(3, 3, 3);
}

.list {
   background-color: rgba(238, 238, 238, 0.993);
   border-radius: 20px;
   margin: 10px;
   height: 100%;
   width: 300px;

}
